[user]
  name = souovan
	email = souovan@protonmail.com
	signingkey = A384804D
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  daily = log --since=yesterday --format=oneline --author=souovan
  gpg = verify-commit HEAD
  d = !git diff --stat --cached origin
  dc = !git diff --cached origin
[commit]
	gpgsign = true
